@charset "UTF-8";

/*
	SputnikCSS
	border.css
*/

section{border-top:0.08rem solid #f1f1f1;}

.articles menu li {border-top: 0.1rem dotted #cfd8dc;}

main address a:hover,
h4 a:hover{border-bottom:0.06em solid #607D8B;}

main p a:hover {border-bottom-color: #1976d2;}

main p a:active{border-bottom-color: #0d47a1;}

main p a[href*="#"]{border-bottom:0.08em dotted #64b5f6;}

@media screen and (max-width:48rem) {
	header li{border-bottom:0.08rem solid rgba(0,0,0,0.16);}
	header li:last-child{border:none;}
	
	header li a:hover,
	header li a:active,
	header li a.active{
	border:none;
	}
