.latter menu{
		display: -webkit-flex;
		display: -moz-flexbox;
		display: -ms-flexbox;
	display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	flex-wrap: wrap;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
	justify-content: space-between;
}

.latter menu li{width: 45%;}

@media screen and (max-width:48rem) {
	.latter menu li {
		width: 100%;
	}
}

.latter menu li h3;
.latter menu li h4,
.latter menu li img{display:block;}

.latter menu li img{
	width:100%;
	border-radius:0.2rem;
}

