@charset "UTF-8";

/*
	SputnikCSS
	layouts.css
*/

nav,
section,
footer{
	max-width: 64rem;
	margin: 0 auto;
}

section,
footer{padding:1.984em 0;}

nav menu,
article,
footer menu{
	padding:0 5.55556%;
}
