@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.slideshow{
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}

.slideshow input{display: none;}

.slideshow .controls{
	position: absolute;
	width: 100%;
	z-index: 10;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
	background: rgba(35,150,240,0.32);

}

.slideshow .controls label{
	height: 1.2em;
	line-height:1.2em;
	margin: 0.6em 0;
	padding: 0;
}

.slideshow .controls label{
	border: 0.16em solid #ddd;
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
	border-radius: 50%;
	vertical-align: middle;
	background: rgba(0,0,0,0.32);

	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.slideshow .controls label:hover{
	background-color: #2196f3;
}

#sld1:checked ~ .controls label.sld1,
#sld2:checked ~ .controls label.sld2,
#sld3:checked ~ .controls label.sld3{
	background: #2196f3;
}

.slideshow div.figure{display: none;}
.slideshow input:checked + div.figure{display: block;}


.slideshow div.figure label.prev,
.slideshow div.figure label.next{
	position: absolute;
	z-index: 5;
	display: block;
	width: 64px;
	height: 64px;
	top:0;
	bottom:0;
	margin: auto;
	border-radius: 50%;

	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.slideshow div.figure label.prev{left:0.8em;}
.slideshow div.figure label.next{right:0.8em;}

.slideshow div.figure label.prev{background: url("../img/Back.gif") no-repeat scroll 6px 50% / auto rgba(35,150,240,0.64);}
.slideshow div.figure label.next{background: url("../img/Next.gif") no-repeat scroll 12px 50% / auto rgba(35,150,240,0.64);}

.slideshow div.figure label.prev:hover,
.slideshow div.figure label.next:hover{
	background-color: #2396f0;
}

.slideshow div.figure img{display: block; margin: 0; padding: 0;}