<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
		<title></title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/main.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<menu>
				</menu>
			</nav>
		</header>
		<aside>
		</aside>
		<section>
			<article>
				<main>
				</main>
			</article>
		</section>
		<footer>
			<menu>
			</menu>
		</footer>
	</body>
</html>
